page-home {
  .wypad {
    position: absolute;
    bottom: 2vh;
  }
  .scroll-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .start-btn{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    animation: pulseBlue 2s infinite;
    position: absolute;
    box-shadow: 0 0 0 0 #488aff;
  }

  .button-md-danger {
    animation: pulseRed 2s infinite;
  }

  .button-md {
    font-size: 7rem;
    background-color: #eeeeee;
  }

  .button-inner {
    color: #457598;
  }
}

@keyframes pulseBlue {
  0% {
    box-shadow: 0 0 0 0 rgba(87, 132, 165, 0.15);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }

}

@keyframes pulseRed {
  0% {
    box-shadow: 0 0 0 0 rgba(map-get($colors, danger), 0.4);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

