// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-md::after {
  content: none !important;
}

ion-item-sliding{
  box-shadow: 0 0 5px 0 #ececec;
  width: 95%;
  margin: 0 auto;

  .label{
    margin: 0 !important;
  }
}

ion-avatar{
  display: flex;
  align-items: center;
}

ion-title{
  text-align: center;
}

button.bar-button {
  position: absolute;
}

.scroll-content{
  background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 50%,#ffffff 100%);
}

.avatar{
  height: 100px;
  width: auto;
  border-radius: 50%;
  display: block;
}

.username{
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  color: white;
}

.drawer-text {
  padding-left: 8px;
}

.drawer {}

.drawer__user {
  background: linear-gradient(0deg, #01579B 0%,#0288D1 100%);
  padding: 4% 0;
}

.drawer__user {
  height: 144px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & + .list{
    margin-top: 15px;

    .item{
      padding: 5px 0 5px 40px !important;
    }
  }

  .avatar {
    height: 64px;
    width: 64px;
    border-radius: 100%;
  }
  .username {
    height: 56px;
    width: 170px;
    box-sizing: border-box;
    padding: 8px 0;
    color: white;
    .field {
      padding-left: 16px;
      font-size: 14px;
      text-align: left;
      &.name {
        font-weight: bold;
      }
      &.info {
        margin-top: 4px;
      }
    }
  }
}

ion-icon {
  vertical-align: middle;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {

}

input[type=text] {
  border: none;
  // border-bottom: 2px solid #b8d5e8;
  background: no-repeat;
  padding: 0.4em 0 0.2em 0.4em;
  font-family: inherit;
  color: inherit;
  font-size: 1.6em;
  color: #b8d5e8;
}

input[type=text]:focus {
    outline: none;
    // border-bottom: 2px solid darken(#b8d5e8, 20%);
}

input[placeholder]::-webkit-input-placeholder{
    color: darken(#b8d5e8, 20%);
}

input[placeholder]:focus::-webkit-input-placeholder{
    color: darken(#b8d5e8, 25%);
}

.menu-inner .scroll-content {
  background: unset;
}

.item-md {
  padding: 5px 0 5px 16px;
}
.item-md:active{
  background-color: #e6e6e6;
}
  .list-md .item-block .item-inner {
    border-bottom: initial;
  }

  .item-md.item-block .item-inner {
    border-bottom: initial;
  }

.item-input .ion-input[type=text] {

}
