<ion-menu [content]="content">

  <ion-content class="drawer">
    <div class="drawer__user">
      <img src="http://unsplash.it/200/200" class="avatar" alt="">
      <h1 class="username">
          <div class="field name">Andrzej Andrzejewski</div>
          <div class="field info">+48 555 444 333</div>
      </h1>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}"></ion-icon>
          <span class="drawer-text">
            {{p.title}}
          </span>
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
