page-in-action {

  .my-stop {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .timer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    margin-top: 30px;
    font-weight: 100;
  }

  .scroll-content {
    transition: .3s;
  }

  .nick {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    transition: .3s;

    &.danger {
      &-yes {
        font-weight: 700;
        color: rgba(#e74c3c, 0.5);
      }

      &-no {
        color: rgba(#2ecc71, 0.5);
      }

      &-maybe {
        font-weight: 700;
        color: rgba(#f1c40f, 0.5);
      }
    }
  }

  .status-icon {
    margin-right: 10px;
    font-size: 30px;

    &[name=checkmark] {
      color: rgba(#2ecc71, 0.5);
    }
    &[name=alert] {
      color: rgba(#e74c3c, 0.5);
    }
    &[name=help] {
      color: rgba(#f1c40f, 0.5);
    }
  }
}
