<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DetectInjury</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="timer">{{timer}}</div>
  <h1 [class]="'nick danger-' + person?.danger">
    {{person?.name}}
  </h1>

  <ion-list>
    <ion-item-sliding *ngFor="let friend of friends">
      <ion-item>
        <ion-icon name="checkmark" *ngIf="friend?.danger === 'no'" class="status-icon"></ion-icon>
        <ion-icon name="alert" *ngIf="friend?.danger === 'yes'" class="status-icon"></ion-icon>
        <ion-icon name="help" *ngIf="friend?.danger === 'maybe'" class="status-icon"></ion-icon>
        {{friend?.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="remove(friend)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom left>
    <button (click)="iamindanger()" tappable color="danger" ion-fab>
      <ion-icon name="warning"></ion-icon>
    </button>
  </ion-fab>

  <button style="margin-left: 50%; transform: translateX(-50%);" ion-button class="start-btn" color="danger" (click)="stop()">STOP</button>

  <ion-fab bottom right>
    <button (click)="checkmark()" tappable color="primary" ion-fab>
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>