page-welcome {
    .scroll-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .item {
        background: transparent;
    }
    .item-inner {
        border: none !important;
    }
    .some {
        position: absolute;
        top: 10%;
        .input-wrapper {
            border-bottom: 1px solid darken(#b8d5e8, 25%);;
        }
    }
    .some2 {
        display: flex;
        width: 100%;
        justify-content: center;
        min-height: 7vh;

        position: absolute;
        bottom: 20%;
        width: calc(90vw);
    }
    .input-cover {
        left: 50%;
        transform: translate(-50%, 0);
    }
}
