<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DetectInjury</ion-title>
      </ion-navbar>
    
    </ion-header>
    


<ion-content padding>

  <ion-item class="some">
    <ion-label placeholder="Your nickname" type="text" color="primary" floating>Nickname</ion-label>
    <ion-input [(ngModel)]="nick"></ion-input>
  </ion-item>

  <button class="some2" ion-button (click)="anonymous()">Go !</button>

</ion-content>