<ion-header>

  <ion-navbar>
    <button ion-button menuToggle></button>
    <ion-title>Last known location</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #map id="map" style="height: 50%"></div>
  <div class="box" style="height: 50%;">

    <div class="box__top">
      <span class="top__time">01:27</span>
      <div class="top__duration">Duration</div>
    </div>

    <div class="box__bottom">
      <div class="bottom__left">
        <div class="left__val">303m</div>
        <span class="left__amp">Max Amplitude</span>
      </div>
      <div class="bottom__right">
        <div class="right__val">70 km/h</div>
        <span class="right__vel">Top speed</span>
      </div>
    </div>
    <img src="http://4.bp.blogspot.com/-xGRt1lXwO0k/U7uaeDnnHCI/AAAAAAAAA5Q/f5bxAjcTU6o/s1600/super-03.png"  class="chart" alt="">
  </div>


</ion-content>
