page-summary {
  .content {
    padding: 5pt;
  }
  .marker {
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #c2c2c2;
    object-fit: cover;
    background-size: 100%;
  }
  .box {
    flex-direction: column;
    display: flex;
    width: 90%;
    align-items: center;
    margin: 12pt auto;
    border-radius: 5pt;
    border: solid 1px rgba(57, 57, 57, .1);
    background: rgba(57, 57, 57, .05);
    padding: 15px;

    &__top {

    }
    &__bottom {
      display: flex;
      width: 100%;
      flex-shrink: 0;

      .right__val, .left__val {
        font-size: 26px;
        font-weight: 100;
      }

      .left__amp, .right__vel {
        font-size: 15px;
        font-weight: 100;
      }
    }
  }

  .left {
    &__amp {

    }
  }

  .bottom {
    &__left {
      width: 50%;
    }

    &__right {
      width: 50%;
      text-align: right;

    }
  }

  .top {
    &__duration {
      text-align: center;
      font-weight: 100;
      margin-top: -3px;
      margin-bottom: 20px;
    }
    &__time {
      font-size: 38px;
      font-weight: 100;
    }
  }

  .chart {
    font-size: 80px;
    display: block;
    margin-top: 10px;
  }
}
